# =========================
# AUTH (NextAuth & Google OAuth)
# =========================
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# =========================
# APP
# =========================
APP_URL=http://localhost:3000
KIMEPISH_ADMIN_EMAILS=

# =========================
# DATABASE
# =========================
DATABASE_URL=
DATABASE_URL_DIRECT=

# =========================
# EMAIL
# =========================
EMAIL_HOST=smtp.resend.com
EMAIL_PORT=587
EMAIL_USER=resend
EMAIL_PASS=
EMAIL_FROM=

# =========================
# STORAGE / CACHE
# =========================
UPLOADTHING_SECRET=
UPLOADTHING_TOKEN=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=